<center><link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/round-slider@1.4.0/dist/roundslider.min.css'>

</head>
<body>

<div id="slider3"></div>

  <script src='https://code.jquery.com/jquery-3.2.1.js'></script>
<script src='https://cdn.jsdelivr.net/npm/round-slider@1.4.0/dist/roundslider.min.js'></script>

<script>
  $("#slider1").roundSlider({
    sliderType: "min-range",
    value: 80,
      svgMode: true
});

$("#slider2").roundSlider({
    sliderType: "min-range",
    value: 60,
    
    svgMode: true,
    rangeColor: "#03a9f4",
    pathColor: "#ececec",
    borderWidth: 0
});
$("#slider3").roundSlider({
    sliderType: "min-range",
    value: 75,
    
    svgMode: true,
    rangeColor: "#03a9f4",
    pathColor: "#ececec",
    borderWidth: 0
});
</script></center>  